body{
	font-family: 'Roboto', sans-serif;
}
/* grid 960px(de largura) é o tamanho mais padrão de site,
precisamos dividir o tamanho da nossa grid pelo tamanho de
linhas e colunas que temos, ou seja teremos que dividir 960 por 12
que dá 80px. Porém precisamos ter espaço entre as colunas para
que não fiquem grudadas e seu texto assim ilegivel. Então cada
coluna deixará de ter 80px, para ter 60px de largura e 10px de espaço
em cada lado pra que haja espaçamente entre cada coluna */
.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px;
}
/*cada uma das colunas vai ser sempre o tamanho da anterior + 80px de largura*/
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
}
.col10{
	width: 780px;
}
.col11{
	width: 860px;
}
.col12{
	width: 940px;
}